{{!< default}}

<div id="description_wordsmith">
	{{@blog.description}}
</div>

<section id="content_wordsmith">
{{#foreach posts}}
	<article class="article_wordsmith" role="article" itemscope itemtype="http://schema.org/Article">
		<div class="leftborder_wordsmith"></div>
		
	    <span class="post-meta"><time datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMM YYYY"}}</time> {{tags prefix="on "}} <a href="{{url}}#disqus_thread"></a></span>
		<h1 class="posttitle_wordsmith" itemprop="headline"><a href="{{{url}}}" rel="bookmark">{{title}}</a></h1>
		
		<div class="postcontent_wordsmith">
			{{excerpt characters="150"}}&hellip;
		</div>

		<a href="{{{url}}}" class="readmore_wordsmith helv_wordsmith">Read More</a>
		
	</article>
{{/foreach}}
</section>

{{#if pagination}}
<div id="pagination_wordsmith" class="helv_wordsmith">
	{{{pagination}}}
</div>
{{/if}}